.modal {
    display: flex;
    align-items: center;      
    text-align: center;
}

@keyframes fadeIn{
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.modal-content {
    animation: fadeIn .5s ease-out forwards;
    background: white;
    padding: 80px;
    margin: 100px;
    transform: translateY(20px);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

    
    h2 {
        margin-bottom: 20px;
    }
    
    input {
        margin-bottom: 10px;
        padding: 11px;
        border: 1px solid #ccc;
        border-radius: 20px;
        font-family: inherit;
        width: 40vh;

        &:focus {
            border-color: #5f8f6a8e; 
            outline: none; 
            box-shadow: 0 0 5px rgba(74, 117, 93, 0.8); 
        }
    }


}

.close-btn {
  position: absolute;
  background: transparent;
  top: 15px;
  right: 20px;
  border: none;
  font-size: 1.5rem;
  color: #333;
  z-index: 10;
  cursor: pointer;
  opacity: 0;
    animation: fadeIn .5s ease-out forwards;

  &:hover{
     color:rgb(41, 117, 61);
  }
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}