.rbc-toolbar button{
    font-family: Quicksand, sans-serif;
    
    .rbc-btn-group{
        font-family: Quicksand, sans-serif;
        font-family: inherit;
    } 
}

.rbc-current-time-indicator{
    display: none;
}

.rbc-header button{
    font-family: Quicksand, sans-serif;
    font-family: inherit;
}

.rbc-time-gutter {
    display: none;
    width: 0 !important; //it will override ALL previous styling rules for that specific property on that element
}

.rbc-time-header-gutter {
    display: none;
    width: 0 !important;
}

.rbc-time-header-content {
    border: none; 
    height: auto;
    padding: 0 ;
    margin: 0;
    // font-family: Quicksand, sans-serif;

    // background-color: bisque;
}

.rbc-time-header.rbc-overflowing{
    font-family: Quicksand, sans-serif;
}

.rbc-time-header {
    border: none;
    height: auto;
    padding: 0 ;
    margin: 0;
    font-family: Quicksand, sans-serif;
    grid-template-columns: 1fr !important; 
    margin-left: 0 !important; 
    // display: none;
}

.rbc-day-bg {
    // display: none;
    // height: 0%;
  }

.rbc-time-content {
    border: none;
    grid-template-columns: 1fr !important;;
    grid-template-rows: 1fr;
    // background-color: aqua;
}

.rbc-day-slot {
    // background-color: rgb(54, 158, 111);
    border: none;
    flex: 1;
    position: relative;
    padding: 0 !important;
    
}

.rbc-date-cell{
    font-family: Quicksand, sans-serif;
}

.rbc-allday-cell{
   display: none;
}

.rbc-event-content{
    background-color: inherit !important; 
}

.rbc-event{
    background-color: transparent !important;
    border: none !important; 
    padding: 0 !important;
}