.account-list{
    
    ul{
        width: 100%;
        margin: 10px;
        justify-content: center;
        align-items: center;
        border-top: 1px solid #cfcfcf;
        padding-top: 10px;

        .al-item{
            padding: 5px;
            text-align: center;
            // display: flex;
        }
        .al-item1{
            padding: 5px;
            margin-top: 10px;
            grid-column: 2;
            grid-row: 2; 
            justify-self: end; 
            
        }
    }

    .al-ul1{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
    }

    .al-ul2 {
        display: grid;
        grid-template-columns: 1fr auto; 
        align-items: center; 
    
        .al-item {
            text-align: left; /* Align the Cash field text to the left */
            margin-left: 40px;
        }
    
        .edit-btn-container {
            text-align: right; /* Align the button to the right */
            margin-right: 40px;
        }
    
        .edit-btn {
            color: rgb(0, 0, 0);
            background-color: transparent;
            border: none;
            padding: 5px 10px;
            border-radius: 4px;
            cursor: pointer;
            font-size: 20px;
    
            &:hover {
                // background-color: #235b3c;
                color:rgb(27, 79, 52)
            }
        }
    }
}