.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Quicksand", sans-serif; //imported
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-left .logo {
  width: 120px; 
  height: auto;
}

.nav-mid {
  display: flex;
  justify-content: center;
  padding-right: 90px; //ignore... i was lazy
  ul {
    display: flex;
    list-style: none;
    padding: 0;
  }
  li {
    margin: 0 15px; 
  }
  
}

.nav-mid a,
.nav-right a {
  text-decoration: none;
  color: rgb(88, 88, 88);
  padding: 10px 15px; 
  border-radius: 40px; 
  transition: all 0.2s ease; 
}

.nav-mid a:hover,
.nav-right a:hover {
  background-color: #d1d1d1; 
  // color: white;
}

.nav-right {
  display: flex;
  align-items: center;
  li {
    margin: 0 15px;  
  }
}

.profile-drop{
  display: inline-block;
  position: relative;
  
  &:hover{
    cursor: pointer;
  }
}

.drop-button.active{
  background-color: #8f8f8f;
}

.profile-content.show {
  display: block;
}

.profile-content{
  background-color: #f2f2f2;
  margin-top: 20px;
  position: absolute;
  right: 0;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: none;


    ul {
      // display: inline-block;
      list-style: none;
      padding: 0;
      margin:0;
    }
}

.profile-content li {
  display: flex; 
  justify-content: center; 
  align-items: center;
  padding: 10px 20px;
  margin:0;
  width: 100%;
  cursor: pointer;
  border-bottom: 1px solid #d1d1d1;
  box-sizing: border-box; 
  white-space: nowrap;
}

.profile-content li:last-child {
  border-bottom: none;
}

.profile-content li:hover {
  background: rgba(0, 0, 0, 0.05);
}

.profile-content li.logout {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.profile-content li.greeting {
  text-decoration: none;
  &:hover{
    background: rgba(0, 0, 0, 0);
    cursor:default;
  }
}
