.sidebar {
    width: 40px;
    background-color: #749181;
    padding: 15px 10px;
    height: 95vh; //so that i can see, some displays need 100vh
    // position: fixed;
    transition: width 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;

}

.sidebar.expanded {
    width: 150px;
}

.sidebar-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    overflow-x: hidden;
    flex-grow: 1;
    justify-content: flex-start;
}

//logo section
.side-logo {
    padding-bottom: 10px;
   
    img {
        width: 25px;
    }
}

.hamburger {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;

    &:hover {
        cursor: pointer;
        background-color: #54695d;
    }
}
    .hamburger.active {
        pointer-events: none;
        background-color: transparent;
    }

//hamburger menu buns
.bun1, .bun2, .bun3 {
    width: 25px;
    height: 2px;
    background-color: white;
    border-radius: 20px;
    margin: 2px 0;
    transition: 0.3s ease-in-out;
}

//hamburger animation
.bun1.active {
    width: 150px;
}
.bun2.active {
    width: 150px;
    animation: fadeAway 0.3s ease-out forwards;
    animation-delay: 0.5s;
    transform: translateY(-6px);
}
.bun3.active {
    width: 150px;
    transform: translateY(125px);
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    width: 100%;
    transition: max-height 0.3s ease-in-out 0.3s, 
                opacity 0.3s ease-in-out 0.3s; 
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    // flex-grow: 1;
 
    &.collapsed {
        pointer-events: none;
        transition: max-height 0.3s ease-in-out, 
                opacity 0.3s ease-in-out ; 
    }

    &.expanded {
        max-height: 225px; 
        opacity: 1;
        pointer-events: all;
    }
}

.menu-container ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 

}

.menu-container li {
    text-align: center; 
    width: 100%;
    font-size: 1rem;
    // padding: 5px; 
}

.menu-container li a {
    width: 100%;
    text-decoration: none;
    color: white;
    padding: 10px 0; 
    // margin: 0;
    display: block; 
    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: #54695d;
    }
}

// profile section 
.profile-drop {
    width: 100%;
    display: flex;
    flex-direction: column;
}

// profile content (dropdown) 
.profile-content {
    font-weight: 500;
    color: white;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    
}   

// .profile-content.show {
    // display: block;
    // position: absolute;
// }

.profile-content ul {
    list-style: none;
    padding: 0;
    // margin: 0;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;

}

.profile-content button {
    width: 100%;
    text-decoration: none;
    color: white;
    padding: 10px 0; 
    font-family: inherit;
    box-sizing: border-box;
    border: none;
    font-size: 1rem;
    background-color: transparent;
    display: flex;
    justify-content: center;

    // margin: 0;
    // display: block; 
    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: #54695d;
        cursor: pointer;
    }
}

.logout {

}

//icon button styles
.profile-icon-text{
    font-family: Quicksand;
    margin: 10px;
    font-size: 1rem;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100px;
    animation: typing 0.5s steps(40, end);
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.profile-button {
    cursor: pointer;
    color: #ffffff;
    border: none;
    background-color: transparent;
    border-radius: 50px;
    padding: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    width: 120px;

    &:hover{
        background-color: #54695d;
    }

    .arrow {
        transition: transform 0.3s ease;
    }

    &.open .arrow {
        transform: rotate(180deg);
    }
}

.collapse-button {
    position: fixed;
    left: 40px; 
    top: 50vh;
    width: 35px;
    height: 30px;
    // background-color: #3f5147; test color
    background-color: #749181;
    border: none;
    border-radius: 40px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        width: 45px;
    }
}

.sidebar.expanded + .collapse-button {
    left: 150px; 
}

.modal-overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.248); 
    z-index: 999; 
    opacity: 0;
    pointer-events: auto; 
    animation: fadeInOverlay 0.5s ease-out forwards;
}

@keyframes fadeInOverlay {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
