.intropage{
    height: calc(100vh - 100px);
    overflow: hidden;
    position: relative;
    background-image: url('../../assets/gradient.png');
    background-size: 90vh 200vh; 
    background-position: left; 
    background-repeat: no-repeat;
}
