.login-block {
    display: flex;
    align-items: center;      
    // background-image: url('../../assets/gradient.png');
    // background-size: cover;
}

@keyframes fadeIn{
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.login {
    opacity: 0;
    animation: fadeIn .5s ease-out forwards;
    background: white;
    padding: 80px;
    margin: 100px;
    transform: translateY(20px);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-family: Quicksand;

    
    h2 {
        margin-bottom: 20px;
    }
    form {
        display: flex;
        flex-direction: column;
    }
    
    input {
        margin-bottom: 10px;
        padding: 11px;
        border: 1px solid #ccc;
        border-radius: 20px;
        font-family: inherit;
        width: 40vh;

        &:focus {
            border-color: #5f8f6a8e; 
            outline: none; 
            box-shadow: 0 0 5px rgba(74, 117, 93, 0.8); 
        }
    }


}

.login-container {
    overflow: hidden;
    max-height: 150px;
    transition: max-height 0.4s ease-in-out;

    &.expanded {
      max-height: 400px;
    }
    &.collapsed {
      max-height: 200px;
    }
  }

.close-btn {
  position: absolute;
  background: transparent;
  top: 15px;
  right: 20px;
  border: none;
  font-size: 1.5rem;
  color: #333;
  z-index: 10;
  cursor: pointer;
  opacity: 0;
    animation: fadeIn .5s ease-out forwards;

  &:hover{
     color:rgb(41, 117, 61);
  }
}

  
.login{
  .submit-btn {
      background: linear-gradient(120deg, #87b68b, #97ceac, #5c8162);
      background-size: 200% 200%;
      color: rgb(0, 0, 0);
      padding: 10px;
      border: none;
      border-radius: 30px;
      cursor: pointer;
      font-family: inherit;
      transition: all 0.3s ease-in-out;
  
      &:hover {
        animation: gradientBG 3s infinite alternate ease-in-out;
        color: rgb(255, 255, 255);
        padding: 12px;
      }
    }
}
    
  .toggle-text {
    color: #7e7e97;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
  
    &:hover {
      text-decoration: underline;
      color: #81d397;
    }
  }

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}