.login-block{
    display: flex;
    align-items: center;      
    height: 75vh;
}
.login {
    background: white;
    padding: 75px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Quicksand;
  }
  
 .login h2 {
    margin-bottom: 20px;
  }
  
  .login form {
    display: flex;
    flex-direction: column;
  }
  
  .login input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: inherit;
  }
  
  .login button {
    background: #2e3fc4;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: inherit;
  }
  
  .login button:hover {
    background: #19278d;
    transition: all 0.2s ease; 

  }

  .toggle-text {
    color: #7e7e97;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
  }
  .toggle-text:hover {
    text-decoration: underline;
  }
  